<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Member Search</title>
    <link rel="stylesheet" href="fitnessApp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Member Search</h1>

    <form action="http://localhost:<%= port %>/memberSearch" method="post">
        Enter the name and email of a member to see member information. <br><br>

        <div class="nameEmail">
            <span><strong>Name:</strong> <input name="name" type="text" size="25" required></span><br><br>
            <strong>Email:</strong> <input placeholder="yourexample@gmail.com" name="email" type="email" size="50">
        </div>
        

        <div id="display">
            <div>
                <%- name %>
                <%- phone %>
                <%- email %>
                <%- gender %>
                <%- age %>
                <%- height %>
                <%- weight %>
                <%- activitylevel %>
            </div>
        </div>

        <br>

        <button class="button" type="reset"><span>Reset</span></button>
        <button class="button" type="submit"><span>Submit</span></button>
        <button class="button" onclick="window.location.href = '/';"><span>Home</span></button>
    </form>

	<hr>
    <br>
</body>

</html>